@import url("https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1000px) {
  body {
    width: 1000px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}

.nav {
  text-decoration: none;
  font-family: "Mr Bedfort";
  font-size: 1.75rem;
  color: #D63D3D;
}
.nav .logo {
  color: #fffdfb;
  font-size: 3rem;
}
.nav ul li a {
  text-decoration: none;
  color: #D63D3D;
}

.cover-rect {
  color: #333333;
}
.cover-rect .cover-rect__name {
  font-size: 3rem;
  font-family: "Mr Bedfort";
  color: #D63D3D;
}
.cover-rect .cover-rect__job {
  font-size: 2rem;
  font-family: "Josefin Slab";
}
.cover-rect .cover-rect__icon {
  color: #D63D3D;
  font-size: 1rem;
}
.cover-rect .cover-rect__place {
  font-size: 1rem;
  font-family: "Josefin Slab";
}

.work-page .work-page__heading {
  font-family: "Mr Bedfort";
  color: #333333;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}
.work-page .work-box .work-box__title {
  font-family: "Josefin Slab";
  color: #333333;
  font-weight: 400;
  font-size: 1.5rem;
}
.work-page .work-box .work-box__description {
  font-family: "Josefin Slab";
  color: #333333;
  font-weight: 400;
  font-size: 1.25rem;
}
.work-page .work-box .work-box__icon {
  color: #D63D3D;
  font-size: 2rem;
  opacity: 0.8;
}

.about-page .about-page__heading {
  font-family: "Mr Bedfort";
  color: #D63D3D;
  font-weight: 400;
  font-size: 2rem;
}
.about-page .about-page__paragraph {
  font-family: "Josefin Slab";
  color: #fffdfb;
  font-size: 1.25rem;
}
.about-page .about-page__subheading {
  font-family: "Mr Bedfort";
  color: #333333;
  font-size: 1.5rem;
  font-weight: 400;
}
.about-page .about-page__skills {
  color: #D63D3D;
  opacity: 0.8;
  font-size: 2rem;
}
.about-page .about-page__dots {
  color: #D63D3D;
  font-size: 1rem;
}
.about-page .about-page__certifications {
  font-family: "Josefin Slab";
  color: #333333;
  list-style: none;
  font-size: 1.25rem;
}

.contact-page .contact-page__title {
  font-family: "Mr Bedfort";
  color: #333333;
  font-size: 2rem;
  font-weight: 400;
}
.contact-page .contact-page__icons {
  color: #D63D3D;
  opacity: 0.8;
  font-size: 3rem;
}

.copy-right-block .copy-right-block__icon {
  color: #fffdfb;
}
.copy-right-block .copy-right-block__words {
  color: #fffdfb;
  font-family: "Josefin Slab";
  font-size: 1rem;
}

@media screen and (min-width: 740px) {
  .nav .logo {
    font-size: 3rem;
  }
  .nav ul li a {
    font-size: 3rem;
  }

  .cover-rect .cover-rect__name {
    font-size: 4rem;
  }
  .cover-rect .cover-rect__job {
    font-size: 3rem;
  }
  .cover-rect .cover-rect__icon {
    font-size: 2rem;
  }
  .cover-rect .cover-rect__place {
    font-size: 2rem;
  }

  .work-page .work-page__heading {
    font-size: 3rem;
  }
  .work-page .work-box .work-box__title {
    font-size: 2rem;
  }
  .work-page .work-box .work-box__description {
    font-size: 1.75rem;
  }
  .work-page .work-box .work-box__icon {
    font-size: 3.5rem;
  }

  .about-page .about-page__heading {
    font-size: 3rem;
  }
  .about-page .about-page__paragraph {
    font-size: 2rem;
  }
  .about-page .about-page__subheading {
    font-size: 2.25rem;
  }
  .about-page .about-page__skills {
    font-size: 3.5rem;
  }
  .about-page .about-page__certifications {
    font-size: 2rem;
  }

  .contact-page .contact-page__title {
    font-size: 3rem;
  }
  .contact-page .contact-page__icons {
    font-size: 5rem;
  }

  .copy-right-block .copy-right-block__icon {
    font-size: 2rem;
  }
  .copy-right-block .copy-right-block__words {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .cover-rect .cover-rect__name {
    font-size: 5rem;
  }
  .cover-rect .cover-rect__job {
    font-size: 4rem;
  }
  .cover-rect .cover-rect__icon {
    font-size: 2.5rem;
  }
  .cover-rect .cover-rect__place {
    font-size: 2.5rem;
  }

  .work-page .work-page__heading {
    font-size: 5rem;
  }
  .work-page .work-box .work-box__title {
    font-size: 3rem;
  }
  .work-page .work-box .work-box__description {
    font-size: 2.5rem;
  }
  .work-page .work-box .work-box__icon {
    font-size: 3.5rem;
  }

  .about-page .about-page__heading {
    font-size: 5rem;
  }
  .about-page .about-page__paragraph {
    font-size: 2.75rem;
  }
  .about-page .about-page__subheading {
    font-size: 3rem;
  }
  .about-page .about-page__skills {
    font-size: 4.5rem;
  }
  .about-page .about-page__certifications {
    font-size: 2.75rem;
  }

  .contact-page .contact-page__title {
    font-size: 5rem;
  }
  .contact-page .contact-page__icons {
    font-size: 7rem;
  }
}
/* Rectangle 1 */
.cover-rect {
  width: 60%;
  height: 40vh;
  background-color: rgba(215, 215, 215, 0.6);
  box-shadow: 0 0 10px 10px rgba(215, 215, 215, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.red-line {
  width: 70%;
  height: 5px;
  background-color: #D63D3D;
  border-radius: 3px;
  margin: 10px;
}

.work-box {
  width: 80%;
  height: 300px;
  background-color: rgba(215, 215, 215, 0.6);
  margin: 15px;
  box-shadow: 0 0 5px 5px rgba(215, 215, 215, 0.6);
}

.about-page__rect {
  background-color: #D63D3D;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
  height: 270px;
}
.about-page__rect .about-page__paragraph {
  text-align: center;
  padding: 30px;
}
@media screen and (min-width: 1400px) {
  .about-page__rect {
    height: 450px;
  }
}

.about-page__rect2 {
  background-color: rgba(215, 215, 215, 0.6);
  margin: 15px 30px;
  box-shadow: 0 0 5px 5px rgba(215, 215, 215, 0.6);
}

.contact-page__line {
  background-color: #D63D3D;
  height: 2px;
  width: 40%;
}

.work-box__img {
  background-color: #D63D3D;
  opacity: 0.6;
  height: 135px;
  width: 270px;
  border: 0px;
}

.work-box__btn {
  font-family: "Josefin Slab";
  color: #333333;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 70%;
}

.navspan {
  height: 85px;
  width: 100%;
}

#menu {
  display: none;
}

#menu:checked ~ .nav {
  width: 300px;
  border-radius: 5px;
  background-color: #fffdfb;
  border: 3px solid #D63D3D;
  height: 80px;
}
#menu:checked ~ .nav > ul {
  display: block;
  opacity: 1;
}
#menu:checked ~ .nav > .logo {
  display: none;
}

.nav {
  position: sticky;
  top: 15px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin: 15px auto;
  width: 80px;
  height: 80px;
  background-color: #D63D3D;
  border: 3px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.nav .logo {
  width: 30px;
  margin: 35px auto;
}
.nav ul {
  opacity: 0;
  background-color: #fffdfb;
  display: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  list-style-type: none;
  padding: 0;
  width: 300px;
  text-align: center;
  margin-bottom: 0;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a {
  display: inline-block;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  border: 3px solid transparent;
  border-radius: 5px;
}
.nav ul li a:hover {
  border-color: #D63D3D;
}
.nav ul li a:target {
  border-bottom-color: #D63D3D;
}

@media screen and (min-width: 650px) {
  #menu:checked ~ .nav {
    width: 650px;
  }

  .nav ul {
    width: 650px;
  }
  .nav ul li a {
    padding: 0px 35px;
  }
}
@media screen and (min-width: 1300px) {
  #menu:checked ~ .nav {
    width: 1000px;
  }

  .nav ul {
    width: 1000px;
  }
  .nav ul li a {
    padding: 0px 60px;
  }
}
header {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("jhbskyline.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.work-box {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}
.work-box .work-box__title {
  grid-column: 2/4;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__description {
  grid-column: 2/4;
  grid-row: 2/5;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__btn {
  grid-row: 6/7;
}
.work-box .work-box__btn--code {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__btn--website {
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__icons {
  grid-column: 1/2;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.work-box .work-box__img {
  grid-column: 1/4;
  grid-row: 7/13;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 650px) {
  .work-box--right {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
  .work-box--right .work-box__title {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }
  .work-box--right .work-box__description {
    grid-column: 2/3;
    grid-row: 3/10;
    align-self: center;
    justify-self: center;
  }
  .work-box--right .work-box__btn {
    grid-column: 2/3;
  }
  .work-box--right .work-box__btn--code {
    grid-row: 10/11;
    align-self: center;
    justify-self: center;
  }
  .work-box--right .work-box__btn--website {
    grid-row: 11/12;
    align-self: center;
    justify-self: center;
  }
  .work-box--right .work-box__icons {
    grid-column: 1/2;
    grid-row: 2/12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .work-box--right .work-box__img {
    grid-column: 3/4;
    grid-row: 2/12;
    align-self: center;
    justify-self: center;
  }

  .work-box--left {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: repeat(12, 1fr);
  }
  .work-box--left .work-box__title {
    grid-column: -2/-3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
  }
  .work-box--left .work-box__description {
    grid-column: -2/-3;
    grid-row: 3/10;
    align-self: center;
    justify-self: center;
  }
  .work-box--left .work-box__btn {
    grid-column: -2/-3;
  }
  .work-box--left .work-box__btn--code {
    grid-row: 10/11;
    align-self: center;
    justify-self: center;
  }
  .work-box--left .work-box__btn--website {
    grid-row: 11/12;
    align-self: center;
    justify-self: center;
  }
  .work-box--left .work-box__icons {
    grid-column: -1/-2;
    grid-row: 2/12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .work-box--left .work-box__img {
    grid-column: -3/-4;
    grid-row: 2/12;
    align-self: center;
    justify-self: center;
  }
}
.copy-right-block {
  background-color: #D63D3D;
  box-shadow: 0 0 5px 5px #D63D3D;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-right-block .copy-right-block__words {
  padding: 5px;
}

.work-page {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}
.work-page .red-line--left {
  justify-self: start;
}
.work-page .red-line--right {
  justify-self: end;
}
.work-page .work-box--left {
  justify-self: start;
}
.work-page .work-box--right {
  justify-self: end;
}

.about-page {
  padding-top: 80px;
}
.about-page .about-page__heading {
  margin-top: 50px;
  text-align: center;
}
.about-page .about-page__subheading--skill {
  text-align: left;
}
.about-page .about-page__subheading--cert {
  text-align: right;
}
.about-page .about-page__subheading {
  padding: 10px;
}
.about-page .about-page__skills {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  justify-self: center;
}
.about-page .about-page__skills .about-page__skill {
  padding: 10px;
}
.about-page .about-page__certifications {
  padding: 10px;
  text-align: center;
}
.about-page .about-page__dot1 {
  text-align: left;
}
.about-page .about-page__dot2 {
  text-align: right;
  width: 96%;
}
.about-page .about-page__dots {
  text-shadow: 0px 2px #bdbdbd;
  text-align: right;
}

.contact-page {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-page .contact-page__titlebox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.contact-page .contact-page__icons {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  margin: 20px;
}

body {
  background-color: #fffdfb;
}