@import url("https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  font-family: "Mr Bedfort";
  font-size: 2rem;
}
nav .logo {
  color: #D63D3D;
  font-size: 3rem;
}

.cover-rect {
  color: #333333;
}
.cover-rect .cover-rect__name {
  font-size: 3rem;
  font-family: "Mr Bedfort";
  color: #D63D3D;
}
.cover-rect .cover-rect__job {
  font-size: 2rem;
  font-family: "Josefin Slab";
}
.cover-rect .cover-rect__icon {
  color: #D63D3D;
  font-size: 1rem;
}
.cover-rect .cover-rect__place {
  font-size: 1rem;
  font-family: "Josefin Slab";
}

.work-page .work-page__heading {
  font-family: "Mr Bedfort";
  color: #333333;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}
.work-page .work-box .work-box__title {
  font-family: "Josefin Slab";
  color: #333333;
  font-weight: 400;
  font-size: 1.5rem;
}
.work-page .work-box .work-box__description {
  font-family: "Josefin Slab";
  color: #333333;
  font-weight: 400;
  font-size: 1.25rem;
}
.work-page .work-box .work-box__icon {
  color: #D63D3D;
  font-size: 2rem;
  opacity: 0.8;
}

@media screen and (min-width: 740px) {
  nav {
    font-size: 4rem;
  }
  nav .logo {
    font-size: 5rem;
  }

  .cover-rect .cover-rect__name {
    font-size: 6rem;
  }
  .cover-rect .cover-rect__job {
    font-size: 5rem;
  }
  .cover-rect .cover-rect__icon {
    font-size: 3rem;
  }
  .cover-rect .cover-rect__place {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  nav {
    font-size: 6rem;
  }
  nav .logo {
    font-size: 7rem;
  }

  .cover-rect .cover-rect__name {
    font-size: 11rem;
  }
  .cover-rect .cover-rect__job {
    font-size: 9rem;
  }
  .cover-rect .cover-rect__icon {
    font-size: 6rem;
  }
  .cover-rect .cover-rect__place {
    font-size: 6rem;
  }
}
@media screen and (min-width: 2000px) {
  nav {
    font-size: 8rem;
  }
  nav .logo {
    font-size: 9rem;
  }

  .cover-rect .cover-rect__name {
    font-size: 15rem;
  }
  .cover-rect .cover-rect__job {
    font-size: 12rem;
  }
  .cover-rect .cover-rect__icon {
    font-size: 8rem;
  }
  .cover-rect .cover-rect__place {
    font-size: 8rem;
  }
}
/* Rectangle 1 */
.cover-rect {
  width: 60%;
  height: 40vh;
  background-color: rgba(215, 215, 215, 0.6);
  box-shadow: 0 0 10px 10px rgba(215, 215, 215, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.red-line {
  width: 70%;
  height: 5px;
  background-color: #D63D3D;
  border-radius: 3px;
  margin: 10px;
}

.work-box {
  width: 80%;
  height: 300px;
  background-color: rgba(215, 215, 215, 0.6);
  margin: 15px;
  box-shadow: 0 0 5px 5px rgba(215, 215, 215, 0.6);
}

.work-box__img {
  background-color: pink;
  height: 135px;
  width: 270px;
  border: none;
}

.work-box__btn {
  font-family: "Josefin Slab";
  color: #333333;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
}
nav .logo {
  padding-left: 30px;
}
nav ul {
  padding-right: 30px;
  padding-top: 15px;
  display: flex;
  list-style: none;
  width: 55vw;
  justify-content: space-between;
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("jhbskyline.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.work-box {
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}
.work-box .work-box__title {
  grid-column: 2/4;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__description {
  grid-column: 2/4;
  grid-row: 2/5;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__btn {
  grid-row: 6/7;
}
.work-box .work-box__btn--code {
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__btn--website {
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}
.work-box .work-box__icons {
  grid-column: 1/2;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.work-box .work-box__img {
  grid-column: 1/4;
  grid-row: 7/13;
  align-self: center;
  justify-self: center;
}

.work-page {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}
.work-page .red-line--left {
  justify-self: start;
}
.work-page .red-line--right {
  justify-self: end;
}
.work-page .work-box--left {
  justify-self: start;
}
.work-page .work-box--right {
  justify-self: end;
}

body {
  background-color: #fffdfb;
}