/* Rectangle 1 */
.cover-rect {
  width: 60%;
  height: 40vh;
  background-color: rgba(215, 215, 215, 0.6);
  box-shadow: 0 0 10px 10px rgba(215, 215, 215, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.red-line {
  width: 70%;
  height: 5px;
  background-color: $red-colour;
  border-radius: 3px;
  margin: 10px;
}

.work-box {
  width: 80%;
  height: 300px;
  background-color: $gray-color;
  margin: 15px;
  box-shadow: 0 0 5px 5px $gray-color;
}

.about-page__rect {
  background-color: $red-colour;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    0 0,
    100% 25%,
    100% 100%,
    0 75%
  );
  height: 270px;
  .about-page__paragraph {
    text-align: center;
    padding: 30px;
  }
  
}
.about-page__rect2 {
  background-color: $gray-color;
  margin: 15px 30px;
  box-shadow: 0 0 5px 5px $gray-color;
}
.contact-page__line {
  background-color: $red-colour;
  height: 2px;
  width: 40%;
}

// /* Arrow 2 */

// position: absolute;
// width: 600px;
// height: 0px;
// left: 0px;
// top: 5213.5px;

// /* emily */
// border: 4px solid #D63D3D;
// box-sizing: border-box;
