@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

a {
  text-decoration: none;
  color: $black-color;
  :visited {
    color: $black-color;
    text-decoration: none;
  }
}

.nav {
  text-decoration:none;
  font-family: $main-font;
  font-size: 1.75rem;
  color: $red-colour;
  box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
  .logo {
    color: $background-colour;
    font-size: 3rem;
  }
  ul {
    li {
      a {
        text-decoration:none;
        color: $red-colour;
      }
    }
  }
}

.cover-rect {
  color: $black-color;

  .cover-rect__name {
    font-size: 3rem;
    font-family: $main-font;
    color: $red-colour;
    text-shadow: 1px 1px rgb(156, 156, 156);
  }
  .cover-rect__job{
    font-size: 2rem;
    font-family: $second-font;
  }
  .cover-rect__icon {
    color: $red-colour;
    font-size: 1rem;
  }
  .cover-rect__place {
    font-size: 1rem;
    font-family: $second-font;
  }  
}

.work-page {
  .work-page__heading {
    font-family: $main-font;
    color: $black-color;
    font-size: 2rem; 
    text-align: center;
    font-weight: 400;
    text-shadow: 0.5px 0.5px rgb(156, 156, 156);
  }
  .work-box {
    .work-box__title {
      font-family: $second-font;
      color: $black-color;
      font-weight: 900;
      font-size: 1.5rem;
    }
    .work-box__description {
      font-family: $second-font;
      color: $black-color;
      font-weight: 400;
      font-size: 1rem;
    }
    .work-box__icon {
      color: $red-colour;
      font-size: 2rem;
      opacity: 0.8;
    }
  }
}

.about-page {
  .about-page__heading {
    font-family: $main-font;
    color: $red-colour;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 0.5px 0.5px rgb(156, 156, 156);
  }
  .about-page__paragraph {
    font-family: $second-font;
    color: $background-colour;
    font-size: 1.25rem;
  }
  .about-page__subheading {
    font-family: $main-font;
    color: $black-color;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .about-page__skills {
    color: $red-colour;
    opacity: 0.8;
    font-size: 2rem;
  }
  .about-page__dots {
    color: $red-colour;
    font-size: 1rem;
  }
  .about-page__certifications {
    font-family: $second-font;
    color: $black-color;
    list-style: none;
    font-size: 1.25rem;
  }
}

.contact-page {
  .contact-page__title {
    font-family: $main-font;
    color: $black-color;
    font-size: 2rem; 
    font-weight: 400;
    text-shadow: 0.5px 0.5px rgb(156, 156, 156);
  }
  .contact-page__icons {
    a {
      color: $red-colour;
      opacity: 0.8;
      font-size: 4rem;
    }
  }
}

.copy-right-block {
  .copy-right-block__icon {
    color: $background-colour;
  }
  .copy-right-block__words {
    color: $background-colour;
    font-family: $second-font;
    font-size: 1rem;
  }
}


@media screen and (min-width: 740px) {
  .nav {
    .logo {
      font-size: 3rem;
    }
    ul {
      li {
        a {
          font-size: 3rem;
        }
      }
    }
  }
  .cover-rect {
    .cover-rect__name {
      font-size: 4rem;
    }
    .cover-rect__job{
      font-size: 3rem;
    }
    .cover-rect__icon {
      font-size: 2rem;
    }
    .cover-rect__place {
      font-size: 2rem;
    }  
  }

  .work-page {
    .work-page__heading {
      font-size: 3rem; 
    }
    .work-box {
      .work-box__title {
        font-size: 2rem;
      }
      .work-box__description {
        font-size: 1.75rem;
      }
      .work-box__icon {
        font-size: 3.5rem;
      }
    }
  }

  .about-page {
    .about-page__heading {
      font-size: 3rem;
    }
    .about-page__paragraph {
      font-size: 2rem;
    }
    .about-page__subheading {
      font-size: 2.25rem;
    }
    .about-page__skills {
      font-size: 3.5rem;
    }
    .about-page__certifications {
      font-size: 2rem;
    }
  }

  .contact-page {
    .contact-page__title {
      font-size: 3rem; 
    }
    .contact-page__icons {
      font-size: 5rem;
    }
  }

  .copy-right-block {
    .copy-right-block__icon {
      font-size: 2rem;
    }
    .copy-right-block__words {
      font-size: 2rem;
    }
  }
  
}

@media screen and (min-width: 1400px) {
  .cover-rect {
    .cover-rect__name {
      font-size: 5rem;
    }
    .cover-rect__job{
      font-size: 4rem;
    }
    .cover-rect__icon {
      font-size: 2.5rem;
    }
    .cover-rect__place {
      font-size: 2.5rem;
    }  
  }

  .work-page {
    .work-page__heading {
      font-size: 5rem; 
    }
    .work-box {
      .work-box__title {
        font-size: 3rem;
      }
      .work-box__description {
        font-size: 2.5rem;
      }
      .work-box__icon {
        font-size: 3.5rem;
      }
    }
  }

  .about-page {
    .about-page__heading {
      font-size: 5rem;
    }
    .about-page__paragraph {
      font-size: 2.75rem;
    }
    .about-page__subheading {
      font-size: 3rem;
    }
    .about-page__skills {
      font-size: 4.5rem;
    }
    .about-page__certifications {
      font-size: 2.75rem;
    }
  }

  .contact-page {
    .contact-page__title {
      font-size: 5rem; 
    }
    .contact-page__icons {
      font-size: 7rem;
    }
  }
}

