@import url('https://fonts.googleapis.com/css2?family=Mr+Bedfort&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

nav {
  font-family: $main-font;
  font-size: 2rem;
  .logo {
    color: $red-colour;
    font-size: 3rem;
  }
}

.cover-rect {
  color: $black-color;

  .cover-rect__name {
    font-size: 3rem;
    font-family: $main-font;
    color: $red-colour;
  }
  .cover-rect__job{
    font-size: 2rem;
    font-family: $second-font;
  }
  .cover-rect__icon {
    color: $red-colour;
    font-size: 1rem;
  }
  .cover-rect__place {
    font-size: 1rem;
    font-family: $second-font;
  }  
}

.work-page {
  .work-page__heading {
    font-family: $main-font;
    color: $black-color;
    font-size: 2rem; 
    text-align: center;
    font-weight: 400;
  }
  .work-box {
    .work-box__title {
      font-family: $second-font;
      color: $black-color;
      font-weight: 400;
      font-size: 1.5rem;
    }
    .work-box__description {
      font-family: $second-font;
      color: $black-color;
      font-weight: 400;
      font-size: 1.25rem;
    }
    .work-box__icon {
      color: $red-colour;
      font-size: 2rem;
      opacity: 0.8;
    }
  }
}

// .cover-page__arrow {
//   color: $red-colour;
//   font-size: 5rem;
//   filter: blur(2px);
// }

@media screen and (min-width: 740px) {
  nav {
    font-size: 4rem;
    .logo {
      font-size: 5rem;
    }
  }
  .cover-rect {
    .cover-rect__name {
      font-size: 6rem;
    }
    .cover-rect__job{
      font-size: 5rem;
    }
    .cover-rect__icon {
      font-size: 3rem;
    }
    .cover-rect__place {
      font-size: 3rem;
    }  
  }
}

@media screen and (min-width: 1400px) {
  nav {
    font-size: 6rem;
    .logo {
      font-size: 7rem;
    }
  }
  .cover-rect {
    .cover-rect__name {
      font-size: 11rem;
    }
    .cover-rect__job{
      font-size: 9rem;
    }
    .cover-rect__icon {
      font-size: 6rem;
    }
    .cover-rect__place {
      font-size: 6rem;
    }  
  }
}

@media screen and (min-width: 2000px) {
  nav {
    font-size: 8rem;
    .logo {
      font-size: 9rem;
    }
  }
  .cover-rect {
    .cover-rect__name {
      font-size: 15rem;
    }
    .cover-rect__job{
      font-size: 12rem;
    }
    .cover-rect__icon {
      font-size: 8rem;
    }
    .cover-rect__place {
      font-size: 8rem;
    }  
  }
}